
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter-VariableFont_opsz\,wght.ttf);
}
/* =======================RESET======================== */
* {
 font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
p {
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
body {
   
  min-height: 100vh;
  background-color: rgb(28, 27, 27);
  color: rgb(239, 233, 233);
}

button{
  cursor: pointer;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    width: 50%;
    font-size: 0.7rem;
    transition: 0.3s ease-in-out;
}
button:hover {
  background-color:rgb(73, 73, 181) ;
  text-shadow: 1px 1px 1px black;
}
/* ================================NAVBAR============= */
nav {
display: flex;
justify-content: space-between;
align-items: center;
 font-size: calc(0.5rem + 1.5vw);
 
  padding: 10px 20px;
}

nav h2 {
  cursor: pointer;
}
nav ul {
   
  display:flex ;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  

  
 
}

nav ul li {
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

nav ul li:hover{
  color: rgb(52, 52, 227) ;

}

#icons {
  cursor: pointer;
  display: none;
}

/* =========================HEADER=============== */
.header {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
}
h1{
   
    font-size: 5rem;
}
.header-left-container h3{
  padding-top: 50px;
    color: blue;
    font-size: 1.8rem;
    font-weight: 500;
}
.header-left-container p{
  padding-top: 50px;
  width: 70%;
}

.header-right {
  width: 50%;
}
#modem {
  width: 100%;
  margin: 0 auto;
}

/* =================================INFOS============== */
.infos{
    display: flex;
    background-color: black;
    border-radius: 10px;
}
.infos-left{
  
    width: 33%;
}
.infos-left h3 {
 padding-left: 12px;
}
.btn-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-around; */
    

}

.infos-right{
    width: 67%;
   
   

}

.investors{
    display: flex;
    align-items: center;
  justify-content: center;
  height: 80%;

}
.img-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-container img{
    height: 60px;
    
}


  
}
@media all and (max-width: 700px){ 
  *{
    color: rgb(244, 229, 210);
  }
  body{
   background-color: #00273D;  
  }
 #icons{
  display: block;
  }
 #icons::before{
  content: "\2630";

 }
 .active #icons::before{
  content: "\2715";
 
 }

nav ul{
  position: fixed;
  left: -100%;
  top: 5%;
  flex-direction: column;
  background-color: black;
  width: 100%;
  text-align: center;
  transition: 0.25s ease;
  
}

nav li {
  padding: 3px 0  ;
}

nav.active ul {
  left: 0;
}
 
  .header{
    display: flex;
    flex-direction: column;
        align-items: center;
    
  }
  .header-left {
    display: block
;

   width: 100%;
   } 
   .header-left-container {
   display: flex
;
        flex-direction: column;
        align-items: center;
    
   }
  .header-left-container h1{
    font-size: 2.8rem;
    text-align: center;
    text-align-last: center;
    width: 70%;
  }
  .header-left-container h3{
    font-size: 1.3rem;
  }
  .header-left-container p{
    text-align: justify;
    text-align-last: center;
  }
  .infos{
    display: flex
;
    background-color: black;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .infos-left{
    text-align: center;
    width: 100%;
  }
  .infos-left h3{
    font-weight: 500;
  }
  .btn-container{
        display: flex
;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .infos-right{
    text-align: center;
    width: 100%;
  }
  .infos-right h3{
    font-weight: 500;
  }
  .img-container{
    width: 100%;
    display: flex
;
    justify-content: space-around;
  }
  .img-container img{
    height: 35px;
  }
}